.register {
    margin: auto;
    border: 1px solid #ddd;
    padding: 1rem;
    .register__title {
        margin: 2rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
    }
    .register__form {
        .register__form__item {
            display: flex;
            flex-direction: column;
                margin-bottom: 1rem;
            .register__form__label {
                margin-bottom: .2rem;
            }
            .register__form__input {
                padding: .5rem;
                height: 2.5rem;
                border: 1px solid #ccc;
                &:focus {
                    border: 1px solid blue;
                    outline: none;
                }
            }
        }
        .register__form__button {
            margin-top: 1rem;
            display: inline-block;
            width: 100%;
            border: none;
            background: #0069c0;
            padding: .65rem;
            color: #fff;
            border-radius: .1rem;
            cursor: pointer;
        }
    }
}
